<!DOCTYPE html>
<html>
    <head>
        <title>Rover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Custom stylesheets-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    
    <!--socket.io-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
<!--Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
<style>
     
</style>
</head>
    <body>
        <ul class="nav nav-tabs fixed-top bg-dark">
            <%if(currentUser){%>
                   <li class="nav-item">
                    <a class="nav-link active" href="/">Admin Panel</a>
                     </li>
               <li class="nav-item">
                 <a class="nav-link" href="/logout">LogOut</a>
               </li>
               <%}else{%>
                   <li class="nav-item">
                       <a class="nav-link" href="/login">Login</a>
                     </li>
                   <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                 </li>
               <%}%>
           </ul>
        <div class="container mt-5">
            <div class="heading" style="text-align: center;">
                <h1 id='head'class="px-3">ARM CONTROL</h1>
            </div>
            <div id='wrap'class="container mt-2">
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col">
                        <button class='btn btn-dark' id=1 >Engage</button>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col">
                        <button class='btn btn-dark' id=2 >Disengage</button>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col">
                        <button class='btn btn-dark' id=3 >Stop</button>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col">
                        <button class='btn btn-dark' id=4 >Devloper Option</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
  
   <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
<script>
    $(document).ready(()=>{
        const socket = io.connect(window.location.host);
        const engage = $('#1');
        const disengage = $('#2');
        const stop = $('#3');
        const devop = $('#4');
        $(devop).prop('disabled',true);
        $(engage).prop('disabled',true);
        $(disengage).prop('disabled',true);
        $(stop).prop('disabled',true);
        $(engage).on("click",(e)=>{
            console.log('engage');
            socket.emit('arm-control',{cmd: 'e'});
        });
        $(disengage).on("click",(e)=>{
            console.log('diseangage');
            socket.emit('arm-control',{cmd: 'd'});
        });
        $(devop).on('click',e=>{
            console.log('devop');
            socket.emit('arm-control',{cmd:'o'});
        });
        $(stop).on("click",(e)=>{
            console.log('stop');
            socket.emit('arm-control',{cmd: '!'});
        });

        setTimeout(()=>{
            $(engage).prop('disabled',false);
            $(disengage).prop('disabled',false);
            $(stop).prop('disabled',false);
            socket.emit('start-arm','?');
        },3000)
    });
</script>
</body>
</html>